@model IEnumerable<PortalNauchnyhPublikatsiy.Application.DTO.TeacherDto>
@{
    ViewData["Title"] = "Преподаватели";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Кафедра</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.DepartmentName</td>
                <td><a asp-action="Details" asp-route-id="@item.Id">Профиль</a></td>
            </tr>
        }
    </tbody>
</table>